/limitless/.idea/compiler.xml
/limitless/.idea/copyright/profiles_settings.xml
/limitless/.idea/encodings.xml
/limitless/.idea/inspectionProfiles/Project_Default.xml
/limitless/.idea/libraries/Maven__aopalliance_aopalliance_1_0.xml
/limitless/.idea/libraries/Maven__ch_qos_logback_logback_classic_1_1_5.xml
/limitless/.idea/libraries/Maven__ch_qos_logback_logback_core_1_1_5.xml
/limitless/.idea/libraries/Maven__com_fasterxml_classmate_1_1_0.xml
/limitless/.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_annotations_2_6_5.xml
/limitless/.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_core_2_6_5.xml
/limitless/.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_databind_2_6_3.xml
/limitless/.idea/libraries/Maven__com_googlecode_efficient_java_matrix_library_ejml_0_23.xml
/limitless/.idea/libraries/Maven__com_googlecode_json_simple_json_simple_1_1_1.xml
/limitless/.idea/libraries/Maven__com_io7m_xom_xom_1_2_10.xml
/limitless/.idea/libraries/Maven__de_jollyday_jollyday_0_4_7.xml
/limitless/.idea/libraries/Maven__de_l3s_boilerpipe_boilerpipe_1_1_0.xml
/limitless/.idea/libraries/Maven__edu_stanford_nlp_stanford_corenlp_3_6_0.xml
/limitless/.idea/libraries/Maven__edu_stanford_nlp_stanford_corenlp_models_3_6_0.xml
/limitless/.idea/libraries/Maven__javax_json_javax_json_api_1_0.xml
/limitless/.idea/libraries/Maven__javax_validation_validation_api_1_1_0_Final.xml
/limitless/.idea/libraries/Maven__javax_xml_bind_jaxb_api_2_2_7.xml
/limitless/.idea/libraries/Maven__jdom_jdom_1_0.xml
/limitless/.idea/libraries/Maven__joda_time_joda_time_2_8_2.xml
/limitless/.idea/libraries/Maven__junit_junit_4_12.xml
/limitless/.idea/libraries/Maven__log4j_log4j_1_2_17.xml
/limitless/.idea/libraries/Maven__net_sourceforge_nekohtml_nekohtml_1_9_22.xml
/limitless/.idea/libraries/Maven__org_apache_activemq_activemq_broker_5_12_3.xml
/limitless/.idea/libraries/Maven__org_apache_activemq_activemq_client_5_12_3.xml
/limitless/.idea/libraries/Maven__org_apache_activemq_activemq_openwire_legacy_5_12_3.xml
/limitless/.idea/libraries/Maven__org_apache_geronimo_specs_geronimo_j2ee_management_1_1_spec_1_0_1.xml
/limitless/.idea/libraries/Maven__org_apache_geronimo_specs_geronimo_jms_1_1_spec_1_1_1.xml
/limitless/.idea/libraries/Maven__org_apache_tomcat_embed_tomcat_embed_core_8_0_32.xml
/limitless/.idea/libraries/Maven__org_apache_tomcat_embed_tomcat_embed_el_8_0_32.xml
/limitless/.idea/libraries/Maven__org_apache_tomcat_embed_tomcat_embed_logging_juli_8_0_32.xml
/limitless/.idea/libraries/Maven__org_apache_tomcat_embed_tomcat_embed_websocket_8_0_32.xml
/limitless/.idea/libraries/Maven__org_fusesource_hawtbuf_hawtbuf_1_11.xml
/limitless/.idea/libraries/Maven__org_hamcrest_hamcrest_core_1_3.xml
/limitless/.idea/libraries/Maven__org_hamcrest_hamcrest_library_1_3.xml
/limitless/.idea/libraries/Maven__org_hibernate_hibernate_validator_5_2_4_Final.xml
/limitless/.idea/libraries/Maven__org_jboss_logging_jboss_logging_3_3_0_Final.xml
/limitless/.idea/libraries/Maven__org_jdom_jdom_1_1.xml
/limitless/.idea/libraries/Maven__org_mockito_mockito_core_1_10_19.xml
/limitless/.idea/libraries/Maven__org_objenesis_objenesis_2_1.xml
/limitless/.idea/libraries/Maven__org_slf4j_jcl_over_slf4j_1_7_16.xml
/limitless/.idea/libraries/Maven__org_slf4j_jul_to_slf4j_1_7_16.xml
/limitless/.idea/libraries/Maven__org_slf4j_log4j_over_slf4j_1_7_16.xml
/limitless/.idea/libraries/Maven__org_slf4j_slf4j_api_1_7_16.xml
/limitless/.idea/libraries/Maven__org_springframework_boot_spring_boot_1_3_3_RELEASE.xml
/limitless/.idea/libraries/Maven__org_springframework_boot_spring_boot_autoconfigure_1_3_3_RELEASE.xml
/limitless/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_1_3_3_RELEASE.xml
/limitless/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_logging_1_3_3_RELEASE.xml
/limitless/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_test_1_3_3_RELEASE.xml
/limitless/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_tomcat_1_3_3_RELEASE.xml
/limitless/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_validation_1_3_3_RELEASE.xml
/limitless/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_web_1_3_3_RELEASE.xml
/limitless/.idea/libraries/Maven__org_springframework_spring_aop_4_2_5_RELEASE.xml
/limitless/.idea/libraries/Maven__org_springframework_spring_beans_4_2_5_RELEASE.xml
/limitless/.idea/libraries/Maven__org_springframework_spring_context_4_2_5_RELEASE.xml
/limitless/.idea/libraries/Maven__org_springframework_spring_core_4_2_5_RELEASE.xml
/limitless/.idea/libraries/Maven__org_springframework_spring_expression_4_2_5_RELEASE.xml
/limitless/.idea/libraries/Maven__org_springframework_spring_jms_4_2_5_RELEASE.xml
/limitless/.idea/libraries/Maven__org_springframework_spring_messaging_4_2_5_RELEASE.xml
/limitless/.idea/libraries/Maven__org_springframework_spring_test_4_2_5_RELEASE.xml
/limitless/.idea/libraries/Maven__org_springframework_spring_tx_4_2_5_RELEASE.xml
/limitless/.idea/libraries/Maven__org_springframework_spring_web_4_2_5_RELEASE.xml
/limitless/.idea/libraries/Maven__org_springframework_spring_webmvc_4_2_5_RELEASE.xml
/limitless/.idea/libraries/Maven__org_twitter4j_twitter4j_async_4_0_4.xml
/limitless/.idea/libraries/Maven__org_twitter4j_twitter4j_core_4_0_4.xml
/limitless/.idea/libraries/Maven__org_twitter4j_twitter4j_stream_4_0_4.xml
/limitless/.idea/libraries/Maven__org_yaml_snakeyaml_1_16.xml
/limitless/.idea/libraries/Maven__rome_rome_1_0.xml
/limitless/.idea/libraries/Maven__xalan_xalan_2_7_0.xml
/limitless/.idea/libraries/Maven__xerces_xercesImpl_2_11_0.xml
/limitless/.idea/libraries/Maven__xml_apis_xml_apis_1_3_03.xml
/limitless/.idea/misc.xml
/limitless/.idea/modules.xml
/limitless/.idea/uiDesigner.xml
/limitless/.idea/vcs.xml
/limitless/.idea/workspace.xml
/limitless/limitless.iml
/limitless/target/classes/application.properties
/limitless/target/classes/country-info.json
/limitless/target/classes/futures-dataset.json
/limitless/target/classes/keywords.txt
/limitless/target/classes/log4j.properties
/limitless/target/classes/ner/rss1.json
/limitless/target/classes/ner/rss2.json
/limitless/target/classes/ner/rss3.json
/limitless/target/classes/ner/stanford-ner-2018-02-27.zip
/limitless/target/classes/ner/tweets.txt
/limitless/target/classes/org/uk/ubs/limitless/Application.class
/limitless/target/classes/org/uk/ubs/limitless/api/CountryService.class
/limitless/target/classes/org/uk/ubs/limitless/api/DataService.class
/limitless/target/classes/org/uk/ubs/limitless/api/KeywordService.class
/limitless/target/classes/org/uk/ubs/limitless/api/RSSFeedService.class
/limitless/target/classes/org/uk/ubs/limitless/api/StoreService.class
/limitless/target/classes/org/uk/ubs/limitless/api/TwitterFeedService.class
/limitless/target/classes/org/uk/ubs/limitless/domain/Categories.class
/limitless/target/classes/org/uk/ubs/limitless/domain/Countries.class
/limitless/target/classes/org/uk/ubs/limitless/domain/Country.class
/limitless/target/classes/org/uk/ubs/limitless/domain/CountryCategory.class
/limitless/target/classes/org/uk/ubs/limitless/domain/Feed.class
/limitless/target/classes/org/uk/ubs/limitless/domain/Items.class
/limitless/target/classes/org/uk/ubs/limitless/domain/MessageContent.class
/limitless/target/classes/org/uk/ubs/limitless/domain/RSSFeed.class
/limitless/target/classes/org/uk/ubs/limitless/messaging/MessagePublisher.class
/limitless/target/classes/org/uk/ubs/limitless/service/controllers/CountryServiceImpl.class
/limitless/target/classes/org/uk/ubs/limitless/service/controllers/DataServiceImpl.class
/limitless/target/classes/org/uk/ubs/limitless/service/feeds/RSSFeedServiceImpl.class
/limitless/target/classes/org/uk/ubs/limitless/service/feeds/TwitterFeedServiceImpl.class
/limitless/target/classes/org/uk/ubs/limitless/service/nlg/KeywordServiceImpl.class
/limitless/target/classes/org/uk/ubs/limitless/service/runnables/RSSFeedRunner.class
/limitless/target/classes/org/uk/ubs/limitless/service/runnables/TwitterFeedRunner.class
/limitless/target/classes/org/uk/ubs/limitless/service/store/StoreServiceImpl.class
/limitless/target/classes/org/uk/ubs/limitless/util/JsonUtil.class
/limitless/target/classes/rss-urls.txt
/limitless/target/classes/rss1.json
/limitless/target/classes/rss2.json
/limitless/target/classes/rss3.json
/limitless/target/classes/tweets.txt
/limitless/target/classes/twitter4j.properties
/limitless/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/limitless/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
